@font-face {
    font-family:'bold' ;
    src: url('../../assets/fonts/Mina/Mina-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family:'reg' ;
    src: url('../../assets/fonts/Mina/Mina-Regular.ttf') format('truetype');
  }
ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
li {
    list-style: none;
    font-family: "reg";
    color: white;
}
.proposalContentOwner {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */
  top: 30%;
}
.proposalTitleOwner {
  color: #11ddc2;
  font-family: "reg";
  font-size: 2rem;
  letter-spacing: 3px;
}

.proposalListOwner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  
}
.proposalContent {
  position: relative;
  top: 30%;
  padding-left: 33%;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
  
}
.proposalTitle {
  color: #11ddc2;
  font-family: "reg";
  font-size: 2rem;
  letter-spacing: 3px;
}
.proptext {
  font-size: 1.5rem;
  color: white;
}

.voteCount {
  color: #11ddc2;
  font-family: "bold";
  font-size: 2rem;
  grid-column: 1;
  grid-row: 2;
  
}

.voteBtn {
  font-family: "reg";
  font-size: 18px;
  letter-spacing: 2px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 55px;
  /* transition: color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; */
  transition: all 0.3s ease; 
  grid-column: 2;
}

.voteBtn:hover {
  color: #11ddc2;
  border-color: #11ddc2; /* Use border-color instead of border to only change the color */
  /* transform: scale(1.1); */
  transform: scale3d(1.1, 1.1, 1);
  cursor: pointer;
}